.card {
	width: 328px;
	position: relative;
	border-radius: 16px;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__name {
	margin: 0 0 16px 0;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	align-self: flex-start;
}

.card__image {
	width: 100%;
	height: auto;
	object-fit: contain;
}
