.cards {
	margin-bottom: 85px;
}

.cards__text {
	margin: 0 0 34px 0;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
}

.cards__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
	gap: 20px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
