.header {
	display: flex;
	align-items: center;
	padding: 32px 0 20px;
}

.header__logo {
	margin-right: 24px;
	width: auto;
	height: 40px;
}

.header__date-and-location {
	margin: 0;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
}

.header__add-clothes-btn {
	margin: 0 20px 0 auto;
	background: transparent;
	border: none;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
	padding: 0;
}

.header__user-container {
	display: flex;
	align-items: center;
	gap: 12px;
}

.header__username {
	margin: 0;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
}

.header__avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
